# IntelliJ IDEA
.idea/
*.iml

# Build output
/out/
*.class

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Java-specific
target/
bin/

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# VS Code (jeśli przypadkiem otworzysz tam)
.vscode/

# JavaFX (jeśli dodajesz pliki tymczasowe do testów)
*.tmp